*.o
.deps
cscope.*
ctags
Makefile
Makefile.in
/sms3
/smsd.conf
/src/smsd_cfg.h
/src/smsd
/scripts/sms3
/autom4te.cache/
/aclocal.m4
/configure
/config.h
/config.h.in
/config.h.in~
/depcomp
/install-sh
/missing
/stamp-h1
/config.guess
/config.log
/config.rpath
/config.status
/config.sub
